.chatting-section-vbox {
    -fx-background-color: transparent;
}

.top-bar {
    -fx-background-color: #282E33;
}

.bottom-bar {
    -fx-background-color: #282E33;
}

.message_text-field {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 1.1em;
}

.message-label {
    -fx-background-color: #33393F;
    -fx-background-radius: 10;
    -fx-padding: 5 10 5 10;
}