.chat-list-background {
    -fx-background-color: #282E33;
}

.add-chat-button {
    -fx-text-fill: white;
    -fx-background-color:  #2DA192;
    -fx-background-radius: 50;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.search_text-field {
    -fx-background-color: #3D444B;
    -fx-text-fill: white;
    -fx-background-radius: 7px;
    -fx-font-size: 1.09em;
}












